NODE_ENV=development

PORT=5000


# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=relay
DATABASE_USER=postgres
DATABASE_PASSWORD=


# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d


# CORS
CORS_ORIGIN=http://localhost:3000


# Mock providers
PROVIDER_TIMEOUT_MS=2000


# Attachments
UPLOAD_MAX_SIZE_MB=5


# Optional local admin bootstrap
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FULL_NAME=